.speech {
    color: black;
    font-family:'Courier New', Courier, monospace;
    font-size: 1em;
}

.direction {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    background-color: aqua;
}

.direction:hover {
    background-color:darkcyan;
    color: bisque;
}

.lopakhin {
    color: red;
}

.lopakhin:hover {
    box-shadow: 5px 3px 10px green;
    
    border-style: solid;
}

.yasha {
    color: green;
}

.yasha:hover {
    box-shadow: 5px 16px 2px red;
    border-style: solid;
}

.trofimov {
    color: yellow;
}

.trofimov:hover {
    box-shadow: 7px 8px 9px blue;
    border-style: solid;
}

table {
    width: 45%;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 2px solid black;
}

th {
    background-color: #006747;
    color: white;
}

tr:nth-child(even) {
    background-color: gainsboro;
}

nav {
    margin: 20px auto;
    text-align: center;
    background-color: blanchedalmond;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}